<hgroup class="text-center">
  <h1>Ember - A Not So Scary Intro</h1>
  <h3>Ember-interfaced, Socket.io-connected, Node.js-controlled bot</h3>
</hgroup>
<hr />
<div class="text-center">
  {{#link-to 'join' class="btn btn-primary btn-lg"}}Join Queue{{/link-to}}
</div>
